.brand-logo img{
    width: 100px;
}
#nav-mobile li.search{
    position: static;
    margin-bottom: 20px;
}

.parallax-container {
    min-height: 180px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}


footer.page-footer{
    padding-top: 0;
}

footer.page-footer .links{
    padding-top: 20px;
}